<!-- NAVBAR
================================================== -->
<body>
	<div class="navbar-wrapper">
		<div class="container">		
			<div class="navbar navbar-inverse navbar-static-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ site.baseurl }}/">
						<img class="img-grav" src="http://www.gravatar.com/avatar/51e645411e895b0a8670f8d9e2793eeb.png" alt="Generic placeholder image">  
						{{ site.title }} </a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							{% if page.url == "/index.html" %}
							<li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
							<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Blog <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/blog/">Recent</a></li>
								<!--<li class="divider"></li>
								<li><a href="/categories/">Categories</a></li>-->
							</ul>
							</li>
							{% else %}
							<li><a href="{{ site.baseurl }}/">Home</a></li>
							<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Blog <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/blog/">Recent</a></li>
								<!--<li class="divider"></li>
								<li><a href="/categories/">Categories</a></li>-->
							</ul>
							</li>
							{% endif %}
						</ul>
						<ul class="nav navbar-nav iconnav">
							<li class="icon-row"><a href="https://www.facebook.com/sshopkin" class="icon-link"><i class="fa fa-facebook-square social"></i></a></li>
							<li class="icon-row"><a href="https://www.linkedin.com/in/sawyerhopkins" class="icon-link"><i class="fa fa-linkedin-square social"></i></a></li>
							<li class="icon-row"><a href="https://github.com/SawyerHopkins" class="icon-link"><i class="fa fa-github-square social"></i></a></li>
							<li class="icon-row"><a href="mailto:sawyer@sawyerhopkins.com" class="icon-link"><i class="fa fa-envelope-square social"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>