<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
	<ol class="carousel-indicators">
		
	{% for post in site.posts limit: 3 %}

	{% if forloop.index > 1 %}
		<li data-target="#myCarousel" data-slide-to="{{ forloop.index | minus: 1 }}"></li>
	{% else %}
		<li data-target="#myCarousel" data-slide-to="{{ forloop.index | minus: 1 }}" class="active"></li>
	{% endif %}
	
	{% endfor %}
		
	</ol>
	<div class="carousel-inner" role="listbox" style="background: url(/assets/img/sawyerheader.png) no-repeat top center fixed">
	  	
	{% for post in site.posts limit: 3 %}
		
	{% if forloop.index == 1 %}
	<div class="item active">		
	{% else %}
	<div class="item">
	{% endif %}
		
<!--<img src="/assets/img/sawyerheader.png" class="img-responsive">-->
		<div class="container">
			<div class="carousel-caption">
				<h1><b><span class="carousel-text">{{ post.title }}</span></b></h1>
				<p><span class="carousel-text">{{ post.summary }}</span></p>
				<p><a class="btn btn-lg btn-primary" href="{{ post.url }}" role="button">Read Now</a></p>
			</div>
		</div>
	</div>		
		
{% endfor %}
		
</div>	
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div><!-- /.carousel -->