    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox" style="background: url(/assets/img/sawyerheader.png) no-repeat top center fixed">
	  	
		<div class="item active">		
		

          <!--<img src="/assets/img/sawyerheader.png" class="img-responsive">-->
          <div class="container">
            <div class="carousel-caption">
              <h1><b><span class="carousel-text">{{ page.title }}</span></b></h1>
              <p><span class="carousel-text">{{ page.summary }}</span></p>
            </div>
          </div>
        </div>		
		
	</div>	
    </div><!-- /.carousel -->