<div class="social-sharing">
	
	<div class="share-button text">
	Share
	</div>
	<div class="share-button twitter">
		<a href="https://twitter.com/home?status={{ page.url }} " target="_blank"><i class="fa fa-twitter social"></i></a>
	</div>
	<div class="share-button linkedin">
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ page.summary }}&source=SawyerHopkins.com" target="_blank"><i class="fa fa-linkedin social"></i></a>
	</div>
	<div class="share-button gplus">
		<a href="https://plus.google.com/share?url={{ page.url }}" target="_blank"><i class="fa fa-google-plus social"></i></a>
	</div>
	
</div>