#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container {
	margin-left: 15%;
	margin-right: 15%;
}

@media (max-width: 1000px) {
  .page-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 767px) {
  .page-container {
    margin-left: 0%;
    margin-right: 0%;
  }
}